#footer {
    margin-top: 3.75rem;
    background-color: rgb(10, 10, 10);

    .footer-body {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        gap: 2rem;
        padding: 1.875rem 0;
        
        .subscribe {
            display: grid;
            gap: .625rem;
            text-align: center;
            min-width: 250px;
            form {
                display: flex;
                flex-direction: column;
                gap: .625rem;
                margin-top: .75rem;

                input, button {
                    width: 100%;
                    padding: .75rem;
                    border: 1px solid var(--color-3);
                    border-radius: var(--radius-4);
                }
                input {
                    outline-color: var(--color-3);
                }

                button {
                    background-color: var(--color-3);
                }
            }
        }

        .social-list {
            padding: 0;
            display: flex;
            gap: .9375rem;
            .social-list__item {
                a {
                    svg {
                        width: 1.75rem; height: auto;
                        transition: color .3s ease;
                    }

                    &:hover {
                        svg {
                            color: var(--color-3);
                        }
                    }
                }


            }
        }

        @media (min-width: 61.9375rem) {
            flex-direction: row;

            .subscribe {
                form {
                    flex-direction: row;

                    button {
                        width: auto;
                    }
                }
            }
        }
    }
}
