.gap {
    margin-top: clamp(1rem, -0.4085rem + 6.0094vw, 5rem);
}
#footer {
    margin-top: auto;
    background-color: var(--footer-bg);

    .footer__body {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        gap: 2rem;
        padding: 1.875rem 0;

        .footer__logo {
            img {
                filter: brightness(0) saturate(100%) invert(34%) sepia(73%) saturate(544%) hue-rotate(154deg) brightness(95%) contrast(93%);
            }
        }
        
        .footer__subscribe {
            display: grid;
            gap: .625rem;
            text-align: center;
            min-width: 250px;
            form {
                display: flex;
                flex-direction: column;
                gap: .625rem;
                margin-top: .75rem;

                input, button {
                    width: 100%;
                    padding: .75rem;
                    border: 1px solid var(--color-3);
                    border-radius: var(--radius-4);
                }
                input {
                    outline-color: var(--color-3);
                }

                button {
                    background-color: var(--color-3);
                }
            }
        }

        .footer__social-list {
            padding: 0;
            display: flex;
            gap: .9375rem;

            .footer__list-item {
                a {
                    svg {
                        width: 1.75rem; height: auto;
                        transition: color .3s ease;
                        color: var(--color-3);
                        transition: transform .3s;
                    }

                    &:hover {
                        svg {
                            transform: translateY(-0.25rem);
                        }
                    }
                }


            }
        }

        @media (min-width: 61.9375rem) {
            flex-direction: row;

            .footer__subscribe {
                form {
                    flex-direction: row;

                    button {
                        width: auto;
                    }
                }
            }
        }
    }
}
