.hero-section {
    margin-top: 20px;
    .wrapper {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 1.25rem;
        .upcoming-movie {
            position: relative;
            overflow: hidden;
            border-radius: var(--radius-2);
            height: 400px;

            .content {
                display: grid;
                place-content: center;
                position: absolute;
                inset: 0;
                z-index: 99;
                background-color: rgba($color: #000000, $alpha: .4);
                
.rating {
    display: grid;
    place-content: center;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background: conic-gradient(
        #ff0000 0% 71%,   // skor kırmızı (7.1/10 ≈ %71)
        #000 71% 100%     // geri kalan siyah
    );
    
    p {
        font-size: 1.5rem;
        color: var(--color-4);
        z-index: 1; // yazının üstte kalması için
    }
}
            }
        }
    }
}