.movie-actors {
    margin-bottom: 5rem;
    .movie-actors__wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
        gap: 2rem;
        transition: max-height 0.6s ease-in-out;
        overflow: hidden;
        &.collapsed {
            max-height: 30rem;
        }

        &.expanded {
            max-height: 100rem;
        }

        .movie-actors__card {
            padding: var(--spacing-3) ;
            border-radius: var(--radius-3);
            background-color: var(--color-1);
            transition: all .3s ease;
            &:hover {
                background-color: var(--color-1-hover);
                transform: translateY(-0.25rem);
            }
            a {
                display: flex;
                align-items: center;
                gap: var(--spacing-3);
                .movie-actors__image {
                    padding: clamp(0.1875rem, 0.0335rem + 0.6573vw, 0.625rem);
                    img {
                        width: 5rem; height: 5rem;
                        border: 2px solid var(--color-3);
                        object-fit: cover;
                        border-radius: 50%;
                    }
                }

                .movie-actors__info {
                    span {
                        color: var(--color-3);
                    }
                }
            }

        }
    }

    .show-more {
        display: block;
        margin: 1rem auto 0;
        color: var(--color-3);
        
        &:hover {
            text-decoration: underline;
        }
    }

}

