.movie-overview__gallery {
    .main-swiper {
        border-radius: var(--radius-5);
        overflow: hidden;
        aspect-ratio: 2 / 1;
        .swiper-wrapper {
            max-width: 300px !important;
            height: auto;
            .swiper-slide {
                .main-image {
                    width: 100%;
                    object-fit: cover;
                    cursor: pointer;
                }
            }
        }

    }

    .thumbs-swiper {
        margin-top: var(--spacing-4);

        .swiper-wrapper {
            max-width: 600px !important;
            width: 100%;
            
            .swiper-slide {
                
                height: 60px !important;
                width: auto !important;
                overflow: hidden;
                &.swiper-slide-thumb-active {
                    border: 2px solid var(--color-3);
                    border-radius: var(--radius-3);
                }
                img {
                    width: 100%; height: 100%;
                    cursor: pointer;
                    border-radius: var(--radius-3);
                }
            }
        }
    }
}