.movie-overview {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing-8);
    margin-bottom: var(--spacing-10);
    margin-top: clamp(var(--spacing-6),1vw + var(--spacing-8), var(--spacing-10));

    .movie-overview__story-line {
        p {
            max-width: 31.25rem;
        }
    }

    @media (min-width: 48rem) {
        grid-template-columns: 1fr 1fr;
    }
}