.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.5rem;
    padding: 1.875rem clamp(0.625rem, -0.0352rem + 2.8169vw, 2.5rem) 0;

    .nav-logo {
        img {
            filter: brightness(0) saturate(100%) invert(4%) sepia(5%) saturate(6078%) hue-rotate(159deg) brightness(82%) contrast(99%);
        }
    }

    .nav-menu {
        display: none;
        flex: 1;
        .nav-menu__list {
            display: flex;
            gap: 3.125rem;

            .nav-menu__list-item {
                position: relative;

                &:hover::after {
                    transform: scale(1);
                    transform-origin: left;
                }

                &::after {
                    content: "";
                    position: absolute;
                    bottom: -.3rem; left: 0;
                    width: 100%; height: 3px;
                    border-radius: var(--radius-full);
                    background-color: var(--color-3);
                    transform: scale(0);
                    transition: transform .3s ease;
                }
            }
        }
    }

    .author {
        display: none;

        .sign-up {
            padding: var(--spacing-3) var(--spacing-6);
            border-radius: var(--radius-full);
            color: var(--color-4);
            background-color: var(--color-3);
            transition: background-color .3s ease;
            &:hover {
                background-color: var(--color-3-hover);
            }
        }
    }

    .hamburger-menu {
        .hamburger-menu__icon {
            svg {
                height: 2rem; width: 2rem;
                color: var(--color-1);
            }
        }
    }

    @media (min-width: 768px) {
        .nav-menu {
            display: block;
        }

        .author {
            display: flex;
            align-items: center;
            gap: var(--spacing-7);
        }
        
        .hamburger-menu {
            display: none;
        }
    }
}

.nav-search {
    display: flex;
    align-items: center;
    gap: 1.875rem;
    margin-top: var(--spacing-4);
    margin-bottom: var(--spacing-3);
    form {
        width: 100%;
        .input-box {
            position: relative;
            input {
                width: 100%;
                padding: .625rem .625rem  .625rem clamp(6.5rem, 5.2rem + 5.5587vw, 10.2rem);
                border: 2px solid var(--color-1);
                border-radius: var(--radius-1);
                background-color: var(--color-1);
                color: inherit;
                letter-spacing: 1.1;
                transition: border-color .3s ease;
                outline: none;

                &:focus {
                    border-color: var(--color-3);
                }
            }

            .genre-section {
                position: absolute;
                top: 50%; left: 0;
                transform: translateY(-50%);
                z-index: 99;
                .genre-button {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: clamp(6rem, 4.6972rem + 5.5587vw, 9.3rem);
                    padding: var(--spacing-4) var(--spacing-4);
                    border-radius: 0;
                    color: var(--color-4);
                    background-color: var(--color-3);
                    font-size: clamp(.8rem, 0.75rem + 0.18vw, 1.2rem);
                    svg {
                        width: 1rem; height: 1rem;
                    }
                }

                .backdrop-list {
                    position: absolute;
                    z-index: 999999;
                    width: 100%;
                    transition: all .3s ease;
                    visibility: hidden;
                    opacity: 0;
                    transform: scaleY(0) translateY(-1rem);
                    transform-origin: top;
                    &.show {
                        visibility: visible;
                        opacity: 1;
                        transform: scaleY(1) translateY(0);
                    }

                    .backdrop-list-item {
                        color: var(--color-4);
                        padding: var(--spacing-3) var(--spacing-4);
                        background-color: var(--color-3);
                        border-bottom: 1px solid var(--color-3-hover);
                        cursor: pointer;

                        &:hover {
                            background-color: var(--color-3-hover);
                        }
                    }
                }
            }

            .search {
                position: absolute;
                top: 50%; right: 1rem;
                transform: translateY(-50%);

                svg {
                    color: var(--color-3);
                    width: 1.75rem; height: 1.75rem;
                    transition: all .3s ease;
                }
            }
        }

    }
}

.social {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: var(--spacing-3);
    margin-bottom: var(--spacing-4);

    p {
        font-weight: bold;
    }
    .social__list {
        display: flex;
        gap: var(--spacing-3);
        padding-bottom: var(--spacing-3);

        .social__list-item {
            svg {
                width: 1.25rem; height: 1.25rem;
                
            }
        }
    }
}