.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.5rem;
    padding: clamp(0.625rem, -0.0352rem + 2.8169vw, 1.75rem) clamp(0.625rem, -0.0352rem + 2.8169vw, 2.5rem) 0;

    .nav-logo {
            img {
                width: clamp(5rem, 4.4718rem + 2.2535vw, 6.5rem); height: auto;
                filter: brightness(0) saturate(100%) invert(34%) sepia(73%) saturate(544%) hue-rotate(154deg) brightness(95%) contrast(93%);
            }
    }

    .nav-menu {
        display: none;
        flex: 1;
        .nav-menu__list {
            display: flex;
            gap: 3.125rem;

            .nav-menu__list-item {
                position: relative;

                &:hover::after {
                    transform: scaleX(1);
                    transform-origin: left;
                }

                &::after {
                    content: "";
                    position: absolute;
                    bottom: -.3rem; left: 0;
                    width: 100%; height: 3px;
                    border-radius: var(--radius-full);
                    background-color: var(--color-3);
                    transform-origin: right;
                    transform: scaleX(0);
                    transition: transform .3s ease;
                }
            }
        }
    }

    .theme-button {
        svg {
            transition: color .3s;
            width: 1.25rem; height: 1.25rem;
            color: var(--card-outline);
        }
    }

    .hamburger-menu {
        .hamburger-menu__icon {
            svg {
                height: 2rem; width: 2rem;
                color: var(--color-1);
            }
        }
    }

    @media (min-width: 56.25rem) {
        .nav-menu {
            display: block;
        }
    }
}

.social {
    display: flex;
    align-items: start;
    justify-content: end;
    gap: var(--spacing-3);
    margin-bottom: var(--spacing-4);

    p {
        font-weight: bold;
    }
    .social__list {
        display: flex;
        gap: var(--spacing-3);
        padding-bottom: var(--spacing-3);

        .social__list-item {
            svg {
                width: 1.25rem; height: 1.25rem;
                
            }
        }
    }
}