.mobile-navbar {
    display: block;
    position: fixed;
    bottom: 0; left: 0;
    width: 100%;
    background: var(--card-1);
    border-top: 1px solid var(--card-1);
    z-index: 999;
    padding: var(--spacing-3);
    animation: slideUp .3s ease forwards;

    .mobile-navbar__list {
        display: flex;
        justify-content: space-around;
        align-items: center;

        .mobile-navbar__list-item {
            max-width: 500px;
            a {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: var(--spacing-2);
                text-decoration: none;

                &.active {
                    color:var(--color-3);

                    svg {
                        color: var(--color-3);
                    }
                }

                svg {
                    font-size: 1.4rem;
                }
            }
        }  
    }

    @media (min-width: 56.25rem) {
        display: none;
    }
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}




