.back-to-top {
    position: fixed;
    bottom: 2rem; right: 2rem;
    background-color: var(--color-3);
    border-radius: 50%;
    padding: 20px;
    transition: all .3s;
    visibility: hidden;
    opacity: 0;
    &:hover {
        background-color: var(--color-3-hover);
    }

    &.visible {
        visibility: visible;
        opacity: 1;
    }

    svg {
        color: var(--color-4);
        width: 1rem; height: 1rem;
    }
}

