.back-to-top {
    position: fixed;
    bottom: 2%; right: 2%;
    background-color: var(--color-3);
    padding: clamp(0.625rem, 0.4049rem + 0.939vw, 1.25rem);
    line-height: 0;
    border-radius: 50%;
    transition: all .3s;
    visibility: hidden;
    opacity: 0;

    &:hover {
        background-color: var(--color-3-hover);
    }

    &.visible {
        visibility: visible;
        opacity: 1;
    }

    svg {
        color: var(--color-4);
        width: 1rem; height: 1rem;
    }
}

