
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

:root {
    --bg-color: hsl(0, 0%, 100%);
    --text-color: hsl(240, 3%, 8%);
    --footer-bg: hsl(240, 23%, 97%);
    --card-1: hsl(36, 33%, 97%);
    --card-1-hover: hsl(36, 33%, 95%);
    --card-outline: hsl(240, 3%, 8%);

    --color-1: hsl(36, 33%, 97%);  
    --color-2: hsl(240, 3%, 8%);
    --color-3: hsl(199, 74%, 40%); 
    --color-4: hsl(180, 10%, 96%);
    --color-5: hsl(209, 49%, 79%);   

    --color-1-hover: hsl(36, 33%, 95%);  
    --color-2-hover: hsl(240, 3%, 12%);
    --color-3-hover: hsl(199, 74%, 35%);  
    --color-4-hover: hsl(180, 10%, 90%);  
    --color-5-hover: hsl(55, 100%, 62%);

    /* Spacing */
    --spacing-1: .125rem;
    --spacing-2: .25rem;
    --spacing-3: .5rem;
    --spacing-4: .75rem;
    --spacing-5: 1.125rem;
    --spacing-6: 1.25rem;
    --spacing-7: 2.4rem;
    --spacing-8: 2rem;
    --spacing-9: 2.5rem;
    --spacing-10: 3rem;

    /* Radius */
    --radius-1: .125rem;
    --radius-2: .25rem;
    --radius-3: .375rem;
    --radius-4: .5rem;
    --radius-5: .75rem;
    --radius-6: 1rem;
    --radius-10: 3rem;
    --radius-full: 9999px;
}

:root.dark {
    --bg-color: hsl(240, 3%, 8%);
    --text-color:hsl(240, 15%, 92%);
    --footer-bg: hsl(240, 3%, 5%);
    --card-1: hsl(0, 3%, 10%);
    --card-1-hover: hsl(0, 3%, 13%);
    --card-outline: hsl(240, 15%, 92%);
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: var(--font-roboto);
    font-size: clamp(0.875rem, 0.831rem + 0.1878vw, 1rem);
    background-color: var(--bg-color);
    color: var(--text-color);
    line-height: 1.5;
    letter-spacing: .7;
    transition: all .3s;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas {
    display: block;
    width: 100%; 
    height: auto;
    max-height: 100%;
    object-fit: cover;
}

input, button, textarea, select {
    font: inherit;
    color: inherit;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

#root, #__next {
    isolation: isolate;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: 92.5rem;
    margin: 0 auto;
    padding: 0 clamp(0.625rem, -0.0352rem + 2.8169vw, 2.5rem);
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.title {
    margin-bottom: .5rem;
}

.text-preset-1 {
  font-size: clamp(1.8rem, 3.5vw + 0.6rem, 2.8rem);
  font-weight: 800;
}

.text-preset-2 {
  font-size: clamp(1.6rem, 3vw + 0.5rem, 2.2rem);
  font-weight: 700;
}

.text-preset-3 {
  font-size: clamp(1.4rem, 2.5vw + 0.4rem, 1.8rem);
  font-weight: 700;
}

.text-preset-4 {
  font-size: clamp(1.2rem, 2vw + 0.3rem, 1.5rem);
  font-weight: 600;
}

.text-preset-5 {
  font-size: clamp(1rem, 1.5vw + 0.2rem, 1.1rem);
  font-weight: 500;
}

.text-preset-6 {
  font-size: clamp(0.75rem, 0.7rem + 0.18vw, 0.9rem);
  font-weight: 400;
}

/* for the transparent input */

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill,
input:-webkit-autofill:hover,
textarea:-webkit-autofill:hover,
select:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill:focus,
select:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:-internal-autofill-selected {
  -webkit-text-fill-color: var(--color-4) !important;           
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  box-shadow: 0 0 0px 1000px transparent inset !important;
  background-color: transparent !important;
  background-clip: padding-box !important;
  transition: background-color 9999s ease-in-out 0s !important;
}


input:-webkit-autofill::first-line,
textarea:-webkit-autofill::first-line {
  -webkit-text-fill-color: inherit !important;
}

input, textarea {
  background-clip: padding-box;
}