.card-skeleton {
    position: relative;
    height: 100%;
    overflow: hidden;
    border-radius: var(--radius-2);
    background-color: var(--card-1);
    aspect-ratio: 1 / 1.4;

    &::after {
        content: "";
        position: absolute;
        top: 0; left: 0;
        width: 15rem; height: 100%;
        background: linear-gradient(90deg,transparent,hsl(var(--card-1-hover) / 0.1),transparent
        );
        animation: movingLight 2s ease infinite;
    }
}

@keyframes movingLight {
    0% {
        transform: translateX(-5rem);
    }

    100% {
        transform: translateX(25rem);
    }
}
