.genre {
    display: inline-block;
    padding: var(--spacing-2) var(--spacing-4);
    border-radius: var(--radius-2);
    color: var(--color-4);
    background-color: var(--color-3);
    margin: 0 var(--spacing-2);
}