.progress-bar {
  position: relative;
  width: 100%;
  max-width: 90px; // mobile default
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: max-width 0.3s ease;
}

.svg {
  width: 100%;
  height: 100%;
  transform: rotate(-90deg);
}

.circle-bg {
  fill: none;
  stroke: var(--color-4);
  stroke-width: 9;
}

.circle-progress {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 10;
  stroke-linecap: round;
  transition: stroke-dashoffset 1s ease;
}

.rate {
  position: absolute;
  z-index: 99;
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--color-3);
  transition: font-size 0.3s ease;
}

@media (min-width: 480px) {
  .progress-bar {
    max-width: 120px;
  }

  .rate {
    font-size: 2.2rem;
  }
}

@media (min-width: 768px) {
  .progress-bar {
    max-width: 140px;
  }

  .rate {
    font-size: 2.6rem;
  }
}

@media (min-width: 1024px) {
  .progress-bar {
    max-width: 160px;
  }

  .rate {
    font-size: 3rem;
  }
}
