.actor-page {
    .actor {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
        

        .actor__image {
            img {
                width: 100%; height: auto;
                border-radius: var(--radius-3);
                box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
            }
        }

        .actor__info {
            .actor__details {
                display: grid;
                gap: var(--spacing-2);

                @media (min-width: 48rem) {
                    grid-template-columns: 1fr 1fr;
                }
            }

            .biography {
                margin-top: .9375rem;
            }
        }

        .filmography {
            .movies {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
                gap: var(--spacing-5);
            }
        }

        @media (min-width: 48rem) {
            grid-template-columns: 1fr auto;

            .actor__image {
                img {
                    width: 20rem; height: 25rem;
                }
            }

            .filmography {
                grid-column: 1 / span 2;

                .movies {
                    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
                }
            }
        }
    }
    
}