.movie-overview__gallery {
    .main-swiper {
        border-radius: var(--radius-5);
        overflow: hidden;
        aspect-ratio: 2 / 1;
        .swiper-wrapper {
            max-width: 300px !important;
            height: auto;
            .swiper-slide {
                .main-image {
                    width: 100%;
                    object-fit: cover;
                    cursor: pointer;
                }
            }
        }

    }

    .thumbs-swiper {
        margin-top: var(--spacing-4);

        .swiper-wrapper {
            max-width: 600px !important;
            width: 100%;
            
            .swiper-slide {
                height: 60px !important;
                width: auto !important;
                overflow: hidden;
                
                &.swiper-slide-thumb-active {
                    border: 2px solid var(--color-3);
                    border-radius: var(--radius-3);
                    

                    img {
                        border-radius: 0;
                    }
                }

                &::after {
                    content: "";
                    position: absolute;
                    inset: 0;
                    cursor: pointer;
                    transition: all .3s;
                }

                &:hover::after {
                    background-color: rgba($color: #ffffff, $alpha: .3);
                    border-radius: var(--radius-3);
                }

                img {
                    position: relative;
                    width: 100%; height: 100%;
                    cursor: pointer;
                    border-radius: var(--radius-3);
                }
            }
        }
    }
}

.big-image {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    inset: 0;
    z-index: -1;
    background-color: rgba($color: #000000, $alpha: .7);
    padding: 3rem 5rem;
    transition: all .3s ease;
    pointer-events: none;

    &.visible {
        pointer-events: auto;
        visibility: visible;
        opacity: 1;
        z-index: 999;
    }

    img {
        width: 100%; height: auto;
        object-fit: cover;
        border-radius: var(--radius-4);
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }

    button {
        position: absolute;
        top: 4rem; right: 6rem;

        svg {
            width: 2.5rem; height: 2.5rem;
            color: var(--color-4);
        }
    }


}